<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="canfd-test">

  <Properties>
    <Property name="CONSOLE_LOG_PATTERN">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %5p %clr{[%15.15t]}{faint} %clr{:}{faint} %m%n%xwEx</Property>
    <Property name="log.level">info</Property>
  </Properties>

  <Appenders>

    <!-- Console -->
    <Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
      <PatternLayout pattern="${sys:CONSOLE_LOG_PATTERN}"/>
    </Console>

  </Appenders>

  <Loggers>

    <Root level="${sys:log.level}">
      <AppenderRef ref="CONSOLE"/>
    </Root>

  </Loggers>

</Configuration>
